<div class="row">
	
	<div class="col-md-12">
		<h3>New Dispatch</h3>
		<hr>
	</div>

	<div class="col-md-12">
		<div class="col-md-6">
			<%= render 'form', dispatch: @dispatch %>
		</div>
	</div>


</div>
