<div class="row">
	<div class="col-md-12">
		<h3>Edit Vehicle</h3>
	</div>
	<div class="col-md-12">
		<%= render 'form', vehicle: @vehicle %>

		<%= link_to 'Show', @vehicle %> |
		<%= link_to 'Back', vehicles_path %>
	</div>
</div>


