<div class="row">
	<div class="col-md-12">
		<h3>Reports</h3>
		<hr>
	</div>

	<div class="col-md-12">
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default no-padding no-margin">
					<div class="panel-body no-padding">
						<div class="jumbotron no-margin">
							<%= link_to  "Vehicle Performance", vehicle_performance_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>